.county-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}
.Beaver{
    fill: #7d3030;
}

.BoxElder {
    fill: #ec9d37;
}


.Cache {
    fill: #ecd237;
}


.Carbon{
    fill: #407d30;
}

.Daggett{
    fill: #30337d;
}

.Davis{
    fill: #63307d;
}


.Duchesne{
    fill: #306a7d;
}

.Emery{
    fill: #307d64;
}
.Garfield{
    fill: #7d3057;
}
.Grand{
    fill: #69B40F;
}
.Iron{
    fill: #EC1D25;
}
.Juab{
    fill: #C8125C;
}
.Kane{
    fill: #008FC8;
}
.Millard{
    fill: #10218B;
}
.Morgan{
     fill: #134B24;
 }
.Piute{
    fill: #7d3030;
}
.Rich{
    fill: #ec9d37;
}
.SaltLake{
    fill: #ecd237;
}
.SanJuan{
    fill: #407d30;
}
.Sanpete{
    fill: #30337d;
}
.Sevier{
    fill: #63307d;
}
.Summit{
    fill: #306a7d;
}
.Tooele{
    fill: #307d64;
}
.Uintah{
    fill: #7d3057;
}
.Utah{
    fill: #69B40F;
}
.Wasatch{
    fill: #EC1D25;
}
.Washington{
    fill: #C8125C;
}
.Wayne{
    fill: #008FC8;
}
.Weber{
    fill: #10218B;
}



















